* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.row::after {
  content: "";
  display: block;
  clear: both;
}
.container {
  display: grid;
}
.black {
  background-color: black;
  height: 200px;
}
.red {
  background-color: red;
  height: 200px;
}
.yellow {
  background-color: yellow;
  height: 200px;
}
.green {
  background-color: green;
  height: 200px;
}
.pink {
  background-color: rgb(187, 108, 121);
  height: 200px;
}
.blue {
  background-color: blue;
  height: 200px;
}
